:root {
    --palette_color1: #445369;
    --palette_color2: #b7b8ba;
    --palette_color3: #849cac;
    --palette_color4: #847c84;
    --palette_color5: #2c2c2c;
    --color_text: #fff;
    --color_link: #445369;
    --color_linkHover: #fc625c;
    --color_HighlightText: var(--color_link);
    --color_BG: #849cac;
    --color_BG_navBar: #847c84;
    --color_BG_navBar_light: #595959;
    --color_Border: var(--color_BG);
    --padding_textInButton: 1.2rem;
    
}

.light-mode {
    --color_text: #151515;
    --color_link: #491f1f;
    --color_linkHover: #2b7435;
    --color_HighlightText: #ad8762;
    --color_BG: #d5b59c;
    --color_BG_navBar: #c19a6c;
    --color_BG_navBar_light: #595959;
    --padding_textInButton: 1.2rem;
}

html {
    box-sizing: border-box;
    font-size: 12px;
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    font-family: Roboto Mono, monospace;
    margin: 0;
    background-color: var(--color_BG);
    color: var(--color_text);
    
}

a {
    color: var(--color_link);
    text-decoration: none
}

a:hover {
    color: var(--color_linkHover);
}

header {
    position: fixed;
}
.container {
    margin:0 auto;
    max-width:960px;
}
.content {
    margin: 0.2rem
}

@media (max-width: 425px) {
    .hidden-mobile {
        display:none;
    }
}


